<%- include("./includes/head") %>
<section class="details">
  <h1><%= post.title %></h1>
  <div class="image">
    <img src="<%= post.img_url %>" alt="<%= post.title %>" />
  </div>
  <p><%= post.description %></p>
  <div class="button-st">
    <form action="/admin/post/<%= post.id %>" method="post">
      <button class="button">DELETE</button>
    </form>
    <a href="/admin/post-edit/<%= post.id %>" class="edit-btn">EDIT</a>
  </div>
</section>
<%- include("./includes/foot") %>
